<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interiera</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header>
    <div class="logo">
        <a href="index.html">
            <span class="use">USE</span>-<span class="web">WEB</span>.ru
        </a>
        <p>Разработка- это просто</p>
    </div>
    <div class="block-top-auth">
        <p><a href="#">Вход</a></p>
        <p><a href="#">Регистрация</a></p>
    </div>
</header>
</body>
</html>